/*
* Scut, a collection of Sass utilities to ease and improve our implementations of common style-code patterns.
* v0.8.0
* Docs at http://davidtheclark.github.io/scut
*/
h1, h2, h3, h4, h5, h6 { font-family: "Lora", Georgia, "Times New Roman", Times, serif; }
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a { color: black; }
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover { text-decoration: none; }

#site-header img { max-height: 70px; width: auto; margin: 20px 0; }

.single #content .widget { float: right; width: 36%; margin: 0 0 20px 20px; max-width: 300px; min-width: 100px; }
.single #content .widget .widgettitle { font-size: 18px; margin-bottom: 0.8em; }
.single #content .widget h4 { font-size: 17px; }
.single #content .widget p { padding: 0; }

.related { margin: 0 0 0 0 !important; padding: 0 0 0 0; }
.related h4 { font-size: 20px; }
.related li { display: block; }
.related h4 { margin-bottom: 0.2em; }
.related img { float: left; margin: 0 10px 5px 0; }
.related p { margin-bottom: 1em; }

p { font-size: 16px; line-height: 1.6; }

iframe.fb_ltr, .fb-comments { max-width: 100%; }

#main .cycle-wrapper { min-height: 60px; position: relative; margin: 20px auto 0; padding: 0; }
#main .cycle-wrapper li { display: block; position: absolute; text-align: center; width: 100%; }

.widget select#cat { width: 100%; }
