/*
* Scut, a collection of Sass utilities to ease and improve our implementations of common style-code patterns.
* v0.8.0
* Docs at http://davidtheclark.github.io/scut
*/
#page { -webkit-font-smoothing: antialiased; }

#site-header img { max-width: 420px; height: auto; margin: 30px 0; }

.single #content .widget { float: right; width: 36%; margin: 0 0 20px 20px; max-width: 300px; min-width: 100px; }

.related { margin: 0 0 0 0 !important; padding: 0 0 0 0; }
.related h4 { font-size: 20px; }
.related li { display: block; }
.related h4 { margin-bottom: 0.2em; }
.related img { float: left; margin: 0 10px 5px 0; }
.related p { margin-bottom: 1em; }

p { font-size: 16px; line-height: 1.6; }

iframe.fb_ltr, .fb-comments { max-width: 100%; }
