@charset "UTF-8"
@import compass
@import scut

//sitewide
h1,h2,h3,h4,h5,h6
	font-family: "Times New Roman", Times, serif
	> a
		color: black
		&:hover
			text-decoration: none
.top-tag,
.byline,
.widgettitle,
.subhead,
.related-to-feature h3
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

//header
#site-header
	img
		max-height: 70px
		width: auto
		margin: 20px 0

//widget within content
.single #content .widget
	float: right
	width: 36%
	margin: 0 0 20px 20px
	max-width: 300px
	min-width: 100px
	.widgettitle
		font-size: 18px
		margin-bottom: 0.8em
	h4
		font-size: 17px
	p
		padding: 0

.related
	margin: 0 0 0 0 !important
	padding: 0 0 0 0
	h4
		font-size: 20px
	li
		display: block
	h4
		margin-bottom: 0.2em
	img
		float: left
		margin: 0 10px 5px 0
	p
		margin-bottom: 1em

// homepage tweaks
#homepage-featured .sub-stories p
	font-size: 13px
	line-height: 1.3em

#homepage-featured .related-to-feature
	h3
		text-transform: uppercase
		margin-bottom: 0.5em
	h4
		margin: 0.7em 0
		font-size: 18px



// CSS vars seem to have problems....
// p
//	font-size: 16px
//	line-height: 1.6

// facebook comments
iframe.fb_ltr,
.fb-comments
	max-width: 100%

// widget for supporters
#main .cycle-wrapper
	min-height: 60px
	position: relative
	margin: 20px auto 0
	padding: 0
	li
		display: block
		position: absolute
		text-align: center
		width: 100%

// catagory dropdown
.widget
	select#cat
		width: 100%